
.example-spacer {
  flex: 1 1 auto;
}
.favorite-icon {
  margin-right: 1rem;
}
.navbar-top{
  padding: 1rem 0;
  background-color: rgba(150,150,150, .85);
}
.navbar-top .logo {
  padding-left: 1rem;
}
.content-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: rgba(255, 246, 235, .9);
  width: 33vw;
  height: 50vh;
  margin: 1rem auto;
  box-shadow: .2rem .2rem 0px 0px rgba(0, 0, 0, 0.2);
}
mat-form-field{
  font-size:1rem;
  /*width: 100%;*/
  /*background: #FFFFFF no-repeat padding-box;*/
  text-align: left;

  color: #646464;
  opacity: 1;
}
